@model DOAN_BANHANG_VY.Models.Cthoadon

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="pagetitle">
    <h1>Cập nhật</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index">Chi tiết hóa đơn</a></li>
            <li class="breadcrumb-item active">Cập nhật</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaCthd" />
            <div class="form-group">
                <label asp-for="MaHd" class="control-label"></label>
                <select asp-for="MaHd" class="form-control" asp-items="ViewBag.MaHd"></select>
                <span asp-validation-for="MaHd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaMh" class="control-label"></label>
                <select asp-for="MaMh" class="form-control" asp-items="ViewBag.MaMh"></select>
                <span asp-validation-for="MaMh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label"></label>
                    <input id="unitPrice" asp-for="DonGia" class="form-control" />
                <span asp-validation-for="DonGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Solung" class="control-label"></label>
                    <input id="quantity"  asp-for="Solung" class="form-control" />
                <span asp-validation-for="Solung" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a asp-action="Details" asp-controller="hoadons" asp-route-id="@Model.MaHd">Quay lại danh sách</a>
</div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
